<html>
<head>
    <meta charset="utf-8"/>
    <title>問題一覧</title>
</head>
<body>
    <select>
    {% for studylist in object_list %}
        <option>{{studylist.subjectlist.parentsubjectlist}}</option>
    {% endfor %}
    </select>
    <select>
    {% for studylist in object_list %}
        <option>{{studylist.subjectlist.subjectlist}}</option>
    {% endfor %}
    
    </select>
    <table border=1>
        <tr>
            <th>概要</th>
            <th>科目</th>
            <th>分野</th>
            <th>問題</th>
            <th>答え</th>
        </tr>
        {% for studylist in object_list %}
        <tr>
            <td>{{studylist.overview}}</td>
            <td>{{studylist.subjectlist.parentsubjectlist}}</td>
            <td>{{studylist.subjectlist.subjectlist}}</td>
            <td>{{studylist.problem}}</td>
            <td>{{studylist.answer}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
